* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  overflow: visible;
}

h1 {
  font-size: 1.2rem;
}

h3 {
  font-size: .9rem;
  font-weight: 500;
}

.container {
  box-sizing: border-box;
  background-color: #333;
  margin: 0 auto;
  width: 420px;
}

nav {
  background-color: black;
  margin: auto;
  padding: 10px 15px 10px 15px;
  width: 420px;
}

.restaurant-list {
  box-sizing: border-box;
  background-color: black;
  border: 1px;
  border-color: #00000;
  margin: 1%
  padding: 1%;
  width: 100%;
  padding-top: 5px;
}

.location {
  box-sizing: border-box;
  background-color: grey;
  margin-bottom: 1px;
  width:100%;
  border-bottom: 1px, black;

}

.content {
  box-sizing: border-box;
  border: 1px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 80%;
  line-height: 2px;
  display: inline-block;
}

.location:hover { background: white }

.arrow {
  box-sizing: border-box;
  padding-left: 12%;
  padding-top: 2%;
  width: 18%;
  display: inline-block;
}
